body {
	width: 960px;
	margin: 0 auto;
	font-family: Roboto, Arial, sans-serif;
	font-size: 1.04em;
	line-height: 1.7em;
	color: #525252;
}
.title {
    line-height: 1.2em;
}

/* content of single page and blog list page*/
p, li, #date-tag, #list{
	color: #3A3A3A;
	font-family: 'Source Sans Pro', "arial rounded", sans-serif;
        font-size: 1.12em;
}

a {
	color: #CB4335;
	text-decoration: none;
	outline: 0;
}

a:hover {
	color: #333333;
}

hr {
	color: #C7C7C7;
}

/* <---Stuff related to homepage---> */
.content {
	width: 750px;
	margin: 0 auto;
}

.intro {
	text-align: center;
	margin-top: 200px;
}

/* <-----------------------------> */

/* <---Stuff related to navbar---> */

.nav {
	overflow: hidden;
	font-weight: 700;
}


.nav a {
	float: left;
	padding: 25px 15px 5px 15px;
}

.nav-right {
	float: right;
}
/* <-----------------------------> */


/* <---title of blog and projects---> */
.title {
	text-align: center;
}
/* <-----------------------------> */

img {
	width: 75%;
	display: block;
	margin: auto;
}

/* Code */
/* note: pre is the parent of block code 
 * style for code will apply to in-line code too*/
code,
pre {
  font-size: 0.9rem;
  background-color: rgba(0,0,0,.10);
  font-weight: 400;
  line-height: 1.4em;
}

pre {
  padding: 1rem;
  border: 1px solid #616161;
}

pre code {
  padding: 0;
  background-color: transparent;
  border: none;
}

code {
  padding: 2px 0.25rem;
}
